USE [user41]
GO
/****** Object:  Table [dbo].[Города]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Города](
	[id_Город] [float] NULL,
	[Название_страны] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Жюри]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жюри](
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[id_Жюри] [float] NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [float] NULL,
	[направление] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Мероприятия]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Мероприятия](
	[id_мероприятия] [float] NULL,
	[Событие] [nvarchar](255) NULL,
	[DATE] [datetime] NULL,
	[DAYS] [float] NULL,
	[Город] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Модераторы]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Модераторы](
	[id_модератора] [float] NULL,
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [float] NULL,
	[направление] [nvarchar](255) NULL,
	[мероприятие] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Организаторы]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Организаторы](
	[id_Организатора] [float] NULL,
	[ФИО] [nvarchar](255) NULL,
	[Почта] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [float] NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страны]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страны](
	[id_Страны] [float] NULL,
	[Название страны] [nvarchar](255) NULL,
	[Английское название] [nvarchar](255) NULL,
	[Код] [nvarchar](255) NULL,
	[Код2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Участники]    Script Date: 11.04.2023 13:12:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Участники](
	[ФИО] [nvarchar](255) NULL,
	[id_Участника] [float] NULL,
	[Почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [float] NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Города] ([id_Город], [Название_страны]) VALUES (1, N'Абаза')
INSERT [dbo].[Города] ([id_Город], [Название_страны]) VALUES (2, N'Абакан')
INSERT [dbo].[Города] ([id_Город], [Название_страны]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Жюри] ([ФИО], [пол], [id_Жюри], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Галкина Верона Васильевна', N'ж', 1, N'obuckridge@sipes.com', NULL, 35, 78805446183, N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[Жюри] ([ФИО], [пол], [id_Жюри], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Герасимова Айлин Ефимовна', N'ж', 2, N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09T00:00:00.000' AS DateTime), 53, 78354786160, N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[Жюри] ([ФИО], [пол], [id_Жюри], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Большаков Августин Алексеевич', N'м', 3, N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12T00:00:00.000' AS DateTime), 52, 71737705513, N'ИТ', N'4Y83lz', N'foto23.jpg')
GO
INSERT [dbo].[Мероприятия] ([id_мероприятия], [Событие], [DATE], [DAYS], [Город]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26T00:00:00.000' AS DateTime), 1, 34)
INSERT [dbo].[Мероприятия] ([id_мероприятия], [Событие], [DATE], [DAYS], [Город]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14T00:00:00.000' AS DateTime), 3, 34)
INSERT [dbo].[Мероприятия] ([id_мероприятия], [Событие], [DATE], [DAYS], [Город]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09T00:00:00.000' AS DateTime), 2, 2)
GO
INSERT [dbo].[Модераторы] ([id_модератора], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (1, N'Царева Виктория Давидовна', N'ж', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03T00:00:00.000' AS DateTime), 33, 75671037332, N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'foto9.jpg')
INSERT [dbo].[Модераторы] ([id_модератора], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (2, N'Зорин Дмитрий Маркович', N'м', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07T00:00:00.000' AS DateTime), 57, 7796440106, N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'foto10.jpg')
INSERT [dbo].[Модераторы] ([id_модератора], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (3, N'Зотова Анна Тимуровна', N'ж', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21T00:00:00.000' AS DateTime), 11, 74886431998, N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'foto8.jpg')
GO
INSERT [dbo].[Организаторы] ([id_Организатора], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (1, N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16T00:00:00.000' AS DateTime), 51, 73549035367, N'Ke22Yh8Pp7', N'foto1.jpg', N'м')
INSERT [dbo].[Организаторы] ([id_Организатора], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (2, N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03T00:00:00.000' AS DateTime), 33, 76562925017, N'Tj78jXeH68', N'foto2.jpg', N'м')
INSERT [dbo].[Организаторы] ([id_Организатора], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (3, N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13T00:00:00.000' AS DateTime), 43, 7129813356, N'DF9a8cJf82', N'foto3.jpg', N'ж')
GO
INSERT [dbo].[Страны] ([id_Страны], [Название страны], [Английское название], [Код], [Код2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Страны] ([id_Страны], [Название страны], [Английское название], [Код], [Код2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Страны] ([id_Страны], [Название страны], [Английское название], [Код], [Код2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
INSERT [dbo].[Участники] ([ФИО], [id_Участника], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Ершова Нора Федотовна', 1, N'techie@outlook.com', CAST(N'1987-03-26T00:00:00.000' AS DateTime), 71, 9604240711, N'tKKevv8%', N'foto60.jpg', N'ж')
INSERT [dbo].[Участники] ([ФИО], [id_Участника], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Афанасьева Жанна Валентиновна', 2, N'agapow@yahoo.com', CAST(N'1988-01-04T00:00:00.000' AS DateTime), 34, 9306616931, N'huSfHm4$', N'foto61.jpg', N'ж')
INSERT [dbo].[Участники] ([ФИО], [id_Участника], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Крылова Рая Всеволодовна', 3, N'chaikin@yahoo.ca', CAST(N'1988-04-05T00:00:00.000' AS DateTime), 73, 9572656068, N'TlUwMw77%', N'foto62.jpg', N'ж')
GO
